.services-page {
    .head {
        padding-bottom: 150px;
    }
    .service-page {
        background: #fcf7f7;
        padding: 80px;
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
        span {
            color: palevioletred;
        }
    }
    .our-services {
        margin-top: 100px;
        margin-bottom: 200px;
        .our-service-title {
            margin-left: 150px;
            font-size: 18px;
            font-weight: 450;
            text-transform: capitalize;
        }
        .our-service-heading {
            margin-top: 20px;
            margin-left: 140px;
            text-transform: uppercase;
            font-size: 50px;
            width: 40%;
            font-weight: 800;
            color: #d6d6d6;
            line-height: 55px;
        }
        .services {
            margin-top: 50px;
            .wedding-words {
                margin-top: 120px;
                margin-left: auto;
                margin-right: auto;
                background: rgba(255, 245, 247, 0.76);
                border-radius: 10px;
                height: 400px;
                .image {
                    text-align: center;
                    margin-top: 50px;
                    .ring-image {
                        width: 60px;
                        height: 50px;
                    }
                }
                .text {
                    text-align: center;
                    .heading {
                        font-size: 20px;
                        font-weight: 700;
                        font-family: sans-serif;
                        text-transform: uppercase;
                        padding-top: 20px;
                        padding-bottom: 5px;
                    }
                    .body {
                        width: 100%;
                        padding-top: 30px;
                    }
                }
            }
            .wedding-images {
                .image {
                    text-align: center;
                    .wedding {
                        width: 95%;
                        height: 100vh;
                        margin-left: -2rem;
                    }
                }
            }

            .nature-images {
                margin-top: -8rem;
                .image {
                    text-align: center;
                    .animal-img {
                        margin-left: 40px;
                        margin-right: auto;
                        width: 350px;
                    }
                }
            }
            .nature-words {
                margin-top: 40px;
                background: rgba(255, 245, 247, 0.76);
                border-radius: 1px;
                height: 400px;
                margin-left: 6rem;
                .image {
                    text-align: center;
                    margin-top: 50px;
                    .leaf-img {
                        width: 150px;
                        height: 60px;
                    }
                }
                .text {
                    text-align: center;
                    .heading {
                        font-size: 20px;
                        font-weight: 700;
                        font-family: sans-serif;
                        text-transform: uppercase;
                        padding-top: 20px;
                        padding-bottom: 5px;
                    }
                    .body {
                        width: 70%;
                        padding-top: 30px;
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            
        } 
    }
    .pricing-section {
        margin-left: 105px;
        .pricing-section-title {
            font-size: 18px;
            font-weight: 450;
            text-transform: uppercase;
        }
        .pricing-section-heading {
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 50px;
            width: 40%;
            font-weight: 800;
            color: #d6d6d6;
            line-height: 55px;
        }
        .price-plan {
            margin-top: 100px;
            margin-left: -70px;
            .standard-plan {
                margin-left: auto;
                margin-right: auto;
                .standard-card {
                    width: 330px;
                    height: 200px;
                    border: 1px solid rgb(226, 226, 226);
                    text-align: center;
                    .ring-image {
                        width: 70px;
                        margin-top: 30px;
                    }
                    .wed-image {
                        width: 50px;
                        margin-top: 30px;
                    }
                    .foto-image {
                        width: 40px;
                        margin-top: 30px;
                    }
                    .wed {
                        font-size: 25px;
                        font-weight: 700;
                        text-transform: capitalize;
                        padding-top: 30px;
                    }
                }
            }
        }
    }
}