.footer-section {
    background-color: #212529;
    height:90vh;
    .footer-links {
        text-align: center;
        padding-top: 100px;
        .links {
            .link-title {
                font-size: 25px;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 0px;
                margin-bottom: 30px;
            }
            .service-links {
                .service-link {
                    text-decoration: none;
                    font-size: 17px;
                    font-weight: 400;
                    text-transform: capitalize;;
                    text-align: justify;
                    display: block;
                    margin-left: 65px;
                    color: #999999;
                    line-height: 30px;
                    transition: .4s ease-out;
                }
                .service-link:hover {
                    color: palevioletred;
                    transition: .4s ease-in;
                }
            }
            .contact-address {
                text-decoration: none;
                font-size: 17px;
                font-weight: 400;
                text-transform: capitalize;
                display: block;
                margin-left: 60px;
                color: #999999;
                line-height: 30px;
                text-align: left;
                padding-bottom: 20px;
            }
            .contacts {
                text-decoration: none;
                font-size: 15px;
                font-weight: 400;
                display: block;
                margin-left: 25px;
                color: #999999;
                line-height: 30px;
                cursor: pointer;
                padding-bottom: 10px;
                transition: .4s ease-out;
                .fa {
                    padding-right: 15px;
                    font-size: 18px;
                }
                .fa-mobile {
                    font-size: 25px;
                }
            }
            .contacts:hover {
                color: palevioletred;
                transition: .4s ease-in;
            }
            
            .gallery {
                margin-left: 25px;
                .pics {
                    width: 50px;
                    height: 50px;
                    background-image: url(../../asset/images/thumbnails/ig.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 2px;
                    cursor: pointer;
                    transition: .4s ease-out;
                    .fa-instagram {
                        color: #fff;
                        margin: 20px auto;
                        visibility: hidden;
                    }
                }
                .pics:hover {
                    transition: .4s ease-in;
                    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
                    .fa-instagram {
                        visibility: visible;
                    }
                }
                .th1 {
                    background-image: url(../../asset/images/thumbnails/ig1.png);
                }
                .th2 {
                    background-image: url(../../asset/images/thumbnails/ig2.png);
                }
                .th3 {
                    background-image: url(../../asset/images/thumbnails/ig3.png);
                }
                .th4 {
                    background-image: url(../../asset/images/thumbnails/ig4.png);
                }
                .th5 {
                    background-image: url(../../asset/images/thumbnails/ig5.png);
                }
            }
            .body {
                margin-left: 60px;
                color: #999999;
                text-align: left;
            }
            .newsletter {
                margin-top: 20px;
                height: 50px;
                width: 250px;
                margin-left: 60px;
                background: transparent;
                border: 1px solid #fff;
                border-radius: 5px;
                padding-left: 15px;
                color: #777;
            }
            .newsletter::placeholder:active {
                color: #777;
                padding-left: 15px;
            }
            .enter {
                border: none;
                width: 100px;
                background-color: palevioletred;
                height: 35px;
                border-radius: 5px;
                margin-left: 208px;
                color: #fff;
                font-weight: 600;
                transition: .4s ease-out;
                border: 2px solid #fff;
                margin-top: -20px;
            }
            .enter:hover {
                background-color: #fff;
                color: palevioletred;
                transition: .4s ease-in;
            }
            
        }
    }
    .footer-bottom {
        background-color: rgb(65, 65, 65);
        text-align: center;
        padding: 35px;
        color: #fff;
        margin-top: 110px;
        margin-bottom: -50px;
        .strong {
            color: palevioletred;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
        }
    }
}



@media only screen and (max-width: 768px) {

    .footer-section {
        background-color: #212529;
        height:100%;
        .footer-links {
            text-align: left;
            padding-top: 50px;
            
            .links {
                .link-title {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 0px;
                    margin-bottom: 5px;
                    padding-left: 20px;
                    margin-top: 20px;
                }
                .service-links {
                    .service-link {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        text-transform: capitalize;;
                        text-align: left;
                        display: block;
                        color: #999999;
                        line-height: 25px;
                        transition: .4s ease-out;
                        margin-left: 25px;
                    }
                    .service-link:hover {
                        color: palevioletred;
                        transition: .4s ease-in;
                    }
                }
                .contact-address {
                    text-decoration: none;
                    font-size: 17px;
                    font-weight: 400;
                    text-transform: capitalize;
                    display: block;
                    color: #999999;
                    line-height: 30px;
                    text-align: left;
                    padding-bottom: 20px;
                    margin-left: 25px;
                }
                .contacts {
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
                    display: block;
                    color: #999999;
                    line-height: 30px;
                    cursor: pointer;
                    padding-bottom: 10px;
                    transition: .4s ease-out;
                }
                .contacts:hover {
                    color: palevioletred;
                    transition: .4s ease-in;
                }
                
                .gallery {
                    margin-left: 20px;
                    .pics {
                        width: 50px;
                        height: 50px;
                        background-image: url(../../asset/images/thumbnails/ig.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 2px;
                        cursor: pointer;
                        .fa-instagram {
                            color: #fff;
                            margin: 15px auto;
                            visibility: hidden;
                            transition: .4s ease-out;
                        }
                    }
                    .pics:hover {
                        transition: .4s ease-in;
                        .fa-instagram {
                            visibility: visible;
                        }
                    }
                    .th1 {
                        background-image: url(../../asset/images/thumbnails/ig1.png);
                    }
                    .th2 {
                        background-image: url(../../asset/images/thumbnails/ig2.png);
                    }
                    .th3 {
                        background-image: url(../../asset/images/thumbnails/ig3.png);
                    }
                    .th4 {
                        background-image: url(../../asset/images/thumbnails/ig4.png);
                    }
                    .th5 {
                        background-image: url(../../asset/images/thumbnails/ig5.png);
                    }
                }
                .body {
                    margin-left: 25px;
                    color: #999999;
                    text-align: left;
                }
                .newsletter {
                    margin-top: 50px;
                    height: 50px;
                    width: 250px;
                    margin-left: 25px;
                    background: transparent;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    padding-left: 15px;
                    color: #777;
                }
                .newsletter::placeholder:active {
                    color: #777;
                    padding-left: 15px;
                }
                .enter {
                    border: none;
                    width: 100px;
                    background-color: palevioletred;
                    height: 35px;
                    border-radius: 5px;
                    margin-left: 25px;
                    color: #fff;
                    font-weight: 600;
                    transition: .4s ease-out;
                    border: 2px solid #fff;
                    margin-top: -20px;
                }
                .enter:hover {
                    background-color: #fff;
                    color: palevioletred;
                    transition: .4s ease-in;
                }
                
            }
        }
        .footer-bottom {
            background-color: rgb(65, 65, 65);
            text-align: center;
            padding: 20px;
            font-size: 14px;
            color: #fff;
            margin-top: 110px;
            margin-bottom: -50px;
            line-height: 30px;
            .strong {
                color: palevioletred;
                cursor: pointer;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }

}