* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar {
    background: #fff;
    box-shadow: 4px 0px 40px rgba(44, 44, 44, 0.432);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    //display: flex;
    .logo {
        color: palevioletred;
        font-size: 30px;
        line-height: 80px;
        margin: -10px 30px 0px 30px;
        font-weight: 700;
        //flex: 2;
        .page-logo {
            width: 70px;
            height: 50px;
            margin-top: -10px;
        }
    }
    ul {
        float: right;
        margin-right: 20px;
        //flex: 3;
        .nav-items {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            .nav-link {
                line-height: 50px;
                padding: 3px 15px;
                font-weight: 600;
                font-size: 18px;
                text-decoration: none;
                color: #000;
                border-radius: 5px;
                transition: .5s ease-out;
                hr {
                    border: 1px solid palevioletred;
                    display: none;
                    transition: .5s ease-out;
                }
            }
        }

        .nav-link:hover {
            color: palevioletred;
            transition: .5s ease-in;
            hr {
                display: block;
                transition: .5s ease-in;
                width: 60px;
            }
            //background: #fff;
            //box-shadow: 4px 0px 40px rgba(44, 44, 44, 0.432);
            //color: palevioletred;
            //transition: .3s ease-in;
        }
    }
    input {

    }
    .checkbtn {
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
        color: #000;
        line-height: 60px;
    }
    #check {
        display: none;
    }
}


@media (max-width: 952px) {
    .navbar {
        .logo {
            font-size: 30px;
            padding-left: 50px;
        }
        ul {
            .nav-items {
                .nav-link {
                    font-size: 16px;
                }
            }
        }
    }
}


@media (max-width: 858px) {
    .navbar {
        .logo {
            font-size: 20px;
            padding-left: 10px;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            .nav-items {
                display: block;
                margin: 50px 0;
                line-height: 30px;
                .nav-link {
                    font-size: 20px;
                }
            }
        }
        #check:checked ~ ul {
            left: 0;
        }
        .checkbtn {
            font-size: 30px;
            margin-right: 20px;
            cursor: pointer;
            display: block;
        }
        
    }
}

@media (max-width: 768px) {
    .navbar {
        .logo {
            font-size: 20px;
            padding-left: 10px;
            margin-left: -1.5rem;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            .nav-items {
                display: block;
                margin: 50px 0;
                line-height: 30px;
                .nav-link {
                    font-size: 20px;
                }
            }
        }
        #check:checked ~ ul {
            left: 0;
        }
        .checkbtn {
            font-size: 30px;
            margin-right: 20px;
            cursor: pointer;
            display: block;
            color: palevioletred;
        }
        
    }
}



