.testimonials-page {
    background: #f5f5f58e;
    .testimonial-images {
        margin-top: 50px;
        .images {
            .review {
                height: 700px;
                width: 620px;
            }
        }
    }
    .testimonial-words {
        margin-top: 150px;
        .title {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            color: #d6d6d6;
            margin-bottom: 20px;
        }
        .heading {
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: sans-serif;
            padding-bottom: 50px;
        }
        .words {
            padding-top: -30px;
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .testimonials {
                            height: 300px;
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
}




@media only screen and (max-width: 768px) {

    .testimonials-page {
        background-color: transparent;
        .testimonial-images {
            margin-top: 10px;
            .images {
                .review {
                    height: 500px;
                    width: 400px;
                    background-size: cover;
                }
            }
        }
        .testimonial-words {
            margin-top: 100px;
            background: transparent;
            .title {
                padding-top: 50px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color: #d6d6d6;
                margin-bottom: 20px;
            }
            .heading {
                font-size: 20px;
                font-weight: 900;
                text-transform: uppercase;
                font-family: sans-serif;
                padding-bottom: 50px;
            }
            .words {
                padding-top: -30px;
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            .testimonials {
                                height: 200px;
                                min-width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}